{% extends 'page/nav.html'%}
{% load static %}
{%block css%}
<link rel="stylesheet" href="{% static 'style/home.css'%}">
<style>
    body{
        background-image: url("{% static 'img/default/back.png' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
{%endblock%}
{%block body%}

{% if messages %}
<div class="messages">
    {% for message in messages %}
        <p class="message {{ message.tags }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<div class="ad1">
    <p class="p1">Buy Whatever you<br> Like!</p>
    <img src="{%static 'img/default/home_pic.png'%}" class="img1">
</div>
<div class="ad2">
    
    <img src="{%static 'img/default/home_img2.png'%}" class="img2">
    <p class="p2">Sell Whatever you <br>Want</p>

</div>
<script src="{% static 'style/msg.js' %}"></script>

{%endblock%}