<!DOCTYPE html>
<head>
{% load static %}

<link rel="stylesheet" href="{% static 'style/nav.css'%}">
{%block css%}
{%endblock%}
</head>
<body>

    
    <nav class="navbar">
        <img src="{%static 'img/default/logo.png'%}" class="logo">
        <div class="nav-items">
            <a href="{% url 'home'%}">Home</a>
            <a href="{% url 'market'%}">Market</a>
            <a href="#">Inbox</a>
            <a href="{%url 'upload_product'%}">Sell</a>
        </div>
        {%if request.user.is_authenticated%}
        <div class="dropdown">
            <button class="dropbtn"><img src="{{request.user.profile.pic.url }}" class="profile-pic"></button>
            <div class="dropdown-content">
              <a href="{% url 'user_profile'%}">My Profile</a>
              <a href="#">My Products</a>
              <a href="#">Inbox</a>
              <a href="{%url 'logout_user'%}">Logout</a>
            </div>
          </div>
        {%else%}
        <a href="{%url 'login_user'%}" class="login-button">Login</a>
        {%endif%}
    </nav>
{%block body%}
{%endblock%}
</body>
</body>