{% extends 'page/nav.html'%}
{% load static %}
{%block css%}
    <link rel="stylesheet" href="{% static 'style/inbox.css' %}">
{%endblock%}

{%block body%}

<div class="inbox-container">
    <div class="messages-box">
        <center><h1 class="heading"> Messages</h1></center>
        <center><p class="sub-heading"> You have Total ({{unread_messages}}) New Messages</p></center>
        {%if msg%}
            <div class="messages-info">
                {%for i in msg%}
                <a href="{%url 'message' i.id%}" class="msg-link">
                    <ul class="messages-ul">
                        <li>{{i.sender}}</li>
                        <li>{{i.product.title}}</li>
                        <a href="{% url 'delete_message' i.id%}" class="del_msg">Delete</a>
                    </ul>
                {%endfor%}
            </div>
        {%else%}
            <p>You Have No Messages</p>
        {%endif%}
        
   
    </div>
    

</div>

{%endblock%}