<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/login.css' %}">
    <style>
        body{
            background-image: url("{% static 'img/default/login_back.png' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="main-container">
        <div class="image-container">
            <img src="{% static 'img/default/logo.png' %}" alt="Logo">
        </div>
        <div class="form-container">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" required><br>
                <input type="password" name="password" placeholder="Password" required><br>
                <input type="submit" value="Login">
            </form>
            <div class="signup-link">
                <p>Don't have an account? <a href="{% url 'add_user' %}">Sign Up</a></p>
            </div>
        </div>
    </div>
    <script src="{% static 'style/msg.js' %}"></script>
</body>
</html>
