<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/user_profile.css' %}">
</head>
<body>
    <img src="{%static 'img/default/logo.png'%}" class="logo">
    
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
    <div class="main-box">
        <div class="img-box">
            <img src="{{user_info.pic.url}}" class="img">
            <p class="img-button">{{ form.pic}}</p>
        </div>
        
        <div class="container">
            <div class="user-info">
            <p><b>Username :  {{user_info.username}}</p></b>
                <p><b>First Name</b> : {{form.first_name}}</p>
                <p><b>Last Name</b>  : {{form.last_name}}</p>
                <p> <b>My  Email </b>: {{form.email}}</p>
               <input type="submit" value="Edit">
            </form>   
            <br><br><p>*Username cannot be change</p>
            
            </div> 
        </div>
    </div>
    
    
</body>