{% extends 'page/nav.html'%}
{% load static %}
{%block css%}
<link rel="stylesheet" href="{% static 'style/detail_product.css'%}">
{%endblock%}
{% block body %}

    <center><h1>Product Info</h1></center>
    <div class="container">
        <div class="product-card">
            <div class="img-section">
                <div class="main-img-container">
                    <img src="{{iteam.main_img.url}}" class="product-img" id="mainImg">
                </div>
                <div class="thumbnail-container">
                    <img src="{{iteam.main_img.url}}" class="thumbnail" onclick="changeImage('{{iteam.main_img.url}}')">
                    <img src="{{iteam.sub_img1.url}}" class="thumbnail" onclick="changeImage('{{iteam.sub_img1.url}}')">
                    <img src="{{iteam.sub_img2.url}}" class="thumbnail" onclick="changeImage('{{iteam.sub_img2.url}}')">
                    <img src="{{iteam.sub_img3.url}}" class="thumbnail" onclick="changeImage('{{iteam.sub_img3.url}}')">
                    <img src="{{iteam.sub_img4.url}}" class="thumbnail" onclick="changeImage('{{iteam.sub_img4.url}}')">
                </div>
            </div>
            <div class="info">
                <p class="title">{{iteam.title}}</p>
                <p>{{iteam.short_discription}}</p>
                <p>{{iteam.discription}}</p>
                <div class="price">
                    <p>INR {{iteam.price}}</p>
                </div>
            </div>
        </div>
        <h1 class="heading">Other info</h1>
        <div class="other">
            <p>Owner : {{iteam.ownership_type}} Owner</p>
            <p>Have Bill and Box :{{iteam.bill_and_box}}</p>
            <p>Purchase Date : {{iteam.purchase_date}}</p>

        </div>  
        <h1 class="heading">Uploader Info</h1>
        <div class="other">
            <p>Uploaded By : {{iteam.owner.username}}</p>
            <p>Uploaded On :{{iteam.created.date}}</p>
           

        </div>  
        <div class="options">
            {%if request.user.profile == iteam.owner%}
            <a href="{% url 'user_profile'%}">
                <button class="button1">Your Profile</button>
            </a>
            <a href="{% url 'edit_product' pk=iteam.product_id%}">
                <button class="button2">Edit This Product</button>
            </a>
            {%else%}
            <a href="#">
                <button class="button1">Seller Profile</button>
            </a>
            <a href="#">
                <button class="button2">Contact Seller</button>
            </a>
            {%endif%}
        </div>
    </div>


<script>
    function changeImage(imageUrl) {
        document.getElementById('mainImg').src = imageUrl;
    }
</script>

{% endblock %}
